---
layout: default
---

<!-- Get and assign parseable date -->
{% assign dateNumeric = page.date | date: "%-d %-m %Y" %}
{% assign dateSplit = dateNumeric | split: " " %}
{% assign day = dateSplit[0] | plus: 0 %}
{% assign month = dateSplit[1] | plus: 0 %}
{% assign year = dateSplit[2] | plus: 0 %}

<!-- Calculate age -->
{% assign birthdate = "1998-07-16" %}
{% assign birthdateSplit = birthdate | split: "-" %}
{% assign birthYear = birthdateSplit[0] | plus: 0 %}
{% assign birthMonth = birthdateSplit[1] | plus: 0 %}
{% assign birthDay = birthdateSplit[2] | plus: 0 %}

{% assign age = year | minus: birthYear %}
{% if month == birthMonth and day < birthDay %}
  {% assign age = age | minus: 1 %}
{% elsif month < birthMonth %}
  {% assign age = age | minus: 1 %}
{% endif %}

{% assign ageInWords = "" %}
{% assign ageMinus10 = age | minus: 10 %}
{% assign ageWords = "ten,eleven,twelve,thirteen,fourteen,fifteen,sixteen,seventeen,eighteen" | split: "," %}
{% if age >= 10 and age <= 18 %}
  {% assign ageInWords = ageWords[ageMinus10] %}
{% else %}
  {% assign ageInWords = age | number_to_words | capitalize %}
{% endif %}

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    {% include social_metrics.html %}
    <p class="post-meta"></p>
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%b %-d %Y" }}
      </time>
    </p>
    <p class="post-meta" style="display: none;">
      <span class="post-author" itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span class="p-author h-card" itemprop="name">
          Namanyay Goel
        </span>
      </span>
    </p>
  </header>

  <footer>
    {% if age <= 13 %}
      <div class="notice--warning">
          <u>Notice</u>: If you've reached this far, please know that I wrote and published this post when I was <strong>{{ ageInWords }}</strong> years old, and my mind differed greatly. I keep these posts alive, for that was my younger self&rsquo;s wish. My current self likes going back to these and seeing the metamorphosis in my writing style and my thoughts, and I hope you do too.
      </div>
    {% elsif age <= 17 %}
      <div class="notice--warning">
          Written and published when I was <strong>{{ ageInWords }}</strong> years old. I hope you enjoy seeing my journey and the metamorphosis of my style and thoughts, from then till now.
      </div>
    {% endif %}
  </footer>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="post-footer">
    <div class="post-share">
      <a href="https://x.com/namanyayg" target="_blank" rel="noopener">
        <svg viewBox="0 0 24 24"><path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"/></svg>
        <span>Find me on Twitter</span>
      </a>
      <a href="javascript:void(0)" onclick="sharePost()" class="share-button">
        <svg viewBox="0 0 24 24"><path d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92s2.92-1.31 2.92-2.92-1.31-2.92-2.92-2.92z"/></svg>
        <span>Share this post</span>
      </a>
    </div>
    <div class="author-callout">
      <p>Hi, I&rsquo;m <strong>Namanyay</strong> &mdash; a professional developer since the age of fourteen, now building AI tools to enhance human potential.</p>
      <p>I write about technology, startups, and the future of work. I&rsquo;m active on X and I would <a href="https://x.com/namanyayg" target="_blank" rel="noopener">love to earn your follow</a>.</p>
      <p>I welcome opportunities to share insights through podcast appearances and guest posts in these domains. Write to me at hi [at] nmn.gl.</p>
    </div>
    {% if age > 13 %}
      <div class="post-navigation">
        {% if page.previous %}
          <div class="previous-link">
            <a rel="prev" href="{{ page.previous.url | relative_url }}">&larr;&nbsp;{{ page.previous.title }}</a>
          </div>
        {% endif %}
        {% if page.next %}
          <div class="next-link">
            <a rel="next" href="{{ page.next.url | relative_url }}">{{ page.next.title }}&nbsp;&rarr;</a>
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>



  {%- if site.disqus.shortname -%}
  {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>